<svg class="h-4 w-4 mr-1" viewBox="0 0 32 32" enable-background="new 0 0 32 32" version="1.1" xml:space="preserve"
  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
  <g id="SVGRepo_iconCarrier">
    <g id="Home"></g>
    <g id="Print"></g>
    <g id="Mail"></g>
    <g id="Camera"></g>
    <g id="Video"></g>
    <g id="Film"></g>
    <g id="Message"></g>
    <g id="Telephone"></g>
    <g id="User"></g>
    <g id="File"></g>
    <g id="Folder"></g>
    <g id="Map"></g>
    <g id="Download"></g>
    <g id="Upload"></g>
    <g id="Video_Recorder"></g>
    <g id="Schedule"></g>
    <g id="Cart"></g>
    <g id="Setting"></g>
    <g id="Search"></g>
    <g id="Pencils"></g>
    <g id="Group"></g>
    <g id="Record"></g>
    <g id="Headphone"></g>
    <g id="Music_Player"></g>
    <g id="Sound_On"></g>
    <g id="Sound_Off"></g>
    <g id="Lock"></g>
    <g id="Lock_open"></g>
    <g id="Love"></g>
    <g id="Favorite"></g>
    <g id="Film_1_"></g>
    <g id="Music"></g>
    <g id="Puzzle"></g>
    <g id="Turn_Off"></g>
    <g id="Book"></g>
    <g id="Save"></g>
    <g id="Reload"></g>
    <g id="Trash"></g>
    <g id="Tag"></g>
    <g id="Link"></g>
    <g id="Like"></g>
    <g id="Bad">
      <path
        d="M26,1H9.7H2C1.5,1,1,1.5,1,2v10v6.8c0,0.5,0.5,1,1,1h7.2l3.3,4.4c0.2,0.3,0.4,0.7,0.4,1.1v1.9 c0,2.1,1.7,3.8,3.8,3.8h1.4c2.1,0,3.8-1.7,3.8-3.8v-2.5c0-1.3-0.4-2.6-1.1-3.7L20,19.8h6c2.8,0,5-2.2,5-5V12V6C31,3.2,28.8,1,26,1z "
        fill="#FFC10A"></path>
      <path
        d="M8.7,18.8V12V2c0-0.5,0.5-1,1-1H2C1.5,1,1,1.5,1,2v10v6.8c0,0.5,0.5,1,1,1h7.2l-0.3-0.4 C8.8,19.2,8.7,19,8.7,18.8z"
        fill="#673AB7"></path>
    </g>
    <g id="Gallery"></g>
    <g id="Add"></g>
    <g id="Close"></g>
    <g id="Forward"></g>
    <g id="Back"></g>
    <g id="Buy"></g>
    <g id="Mac"></g>
    <g id="Laptop"></g>
  </g>
</svg>
