<svg
  class="w-4 h-4 mr-1"
  viewBox="0 0 32 32"
  enable-background="new 0 0 32 32"
  version="1.1"
  xml:space="preserve"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  fill="#000000"
  data-darkreader-inline-fill=""
  style="--darkreader-inline-fill: #000000"
>
  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
  <g
    id="SVGRepo_tracerCarrier"
    stroke-linecap="round"
    stroke-linejoin="round"
  ></g>
  <g id="SVGRepo_iconCarrier">
    <g id="Home"></g>
    <g id="Print"></g>
    <g id="Mail"></g>
    <g id="Camera"></g>
    <g id="Video"></g>
    <g id="Film"></g>
    <g id="Message"></g>
    <g id="Telephone"></g>
    <g id="User"></g>
    <g id="File"></g>
    <g id="Folder"></g>
    <g id="Map"></g>
    <g id="Download">
      <line fill="none" x1="16" x2="16" y1="29" y2="28"></line>
      <path
        d="M25.9,17.6C25.8,17.2,25.4,17,25,17h0h-4V2c0-0.5-0.5-1-1-1h0h-4h0h-4c-0.5,0-1,0.5-1,1v15H7 c-0.4,0-0.8,0.2-0.9,0.6C5.9,18,6,18.4,6.3,18.7l9,9c0.2,0.2,0.5,0.3,0.7,0.3c0,0,0,0,0,0v0c0.3,0,0.5-0.1,0.7-0.3l9-9 C26,18.4,26.1,18,25.9,17.6z"
        fill="#0E9688"
        data-darkreader-inline-fill=""
        style="--darkreader-inline-fill: #366c67"
      ></path>
      <path
        d="M30,17c-0.5,0-1,0.5-1,1v8c0,1.6-1.3,3-3,3H16H6c-1.7,0-3-1.4-3-3v-8c0-0.5-0.5-1-1-1s-1,0.5-1,1v8 c0,2.8,2.2,5,5,5h10h10c2.8,0,5-2.2,5-5v-8C31,17.5,30.5,17,30,17z"
        fill="#F44236"
        data-darkreader-inline-fill=""
        style="--darkreader-inline-fill: #6e231e"
      ></path>
    </g>
    <g id="Upload"></g>
    <g id="Video_Recorder"></g>
    <g id="Schedule"></g>
    <g id="Cart"></g>
    <g id="Setting"></g>
    <g id="Search"></g>
    <g id="Pencils"></g>
    <g id="Group"></g>
    <g id="Record"></g>
    <g id="Headphone"></g>
    <g id="Music_Player"></g>
    <g id="Sound_On"></g>
    <g id="Sound_Off"></g>
    <g id="Lock"></g>
    <g id="Lock_open"></g>
    <g id="Love"></g>
    <g id="Favorite"></g>
    <g id="Film_1_"></g>
    <g id="Music"></g>
    <g id="Puzzle"></g>
    <g id="Turn_Off"></g>
    <g id="Book"></g>
    <g id="Save"></g>
    <g id="Reload"></g>
    <g id="Trash"></g>
    <g id="Tag"></g>
    <g id="Link"></g>
    <g id="Like"></g>
    <g id="Bad"></g>
    <g id="Gallery"></g>
    <g id="Add"></g>
    <g id="Close"></g>
    <g id="Forward"></g>
    <g id="Back"></g>
    <g id="Buy"></g>
    <g id="Mac"></g>
    <g id="Laptop"></g>
  </g>
</svg>
