<!doctype html>
<html lang="en">
  <head>
    <title>Civitai Explorer</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/main.css')}}"
    />
  </head>

  <body>
    {% block content %} {% endblock %}

    {% include "image.html" %}


    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
