<!-- FILEPATH: templates/navbar.html -->

<!-- 
    This file represents the navigation bar template for the `PhotoExplorer`
    project. It contains the HTML structure for the navigation bar, including
    dropdown menus and navigation links.
-->

{% set navigation_items = [ 
    { 
        "name": "CivitAI",
        "url": "/", "children": [
            {"name": "Images", "url": "/civitai/images"},
            {"name": "Models", "url": "/civitai/models"}
        ]
    },
    {"name": "Stabe Diffusion", "url": "/imggen"}
] %}

<!-- Navigation Bar -->
<div class="navbar bg-base-100">
  <div class="navbar-start">
    <!-- Navigation Bar for Smaller Screens -->
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        {% for item in navigation_items %}
        <li>
          <a>{{ item.name }}</a>
          {% if item.children %}
          <ul class="p-2">
            {% for child in item.children %}
            <li><a href={{ child.url }}>{{ child.name }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">photoExplorer</a>
  </div>

  <!-- Navigation Bar for Larger Screens -->
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      {% for item in navigation_items %}
      <li>
        {% if item.children %}
            <li>
                <details>
                    <summary>{{item.name}}</summary>
                    <ul class="p-2 dropdown-content z-50">
                        {% for child in item.children %}
                        <li><a href={{ child.url }}>{{ child.name }}</a></li>
                        {% endfor %}
                    </ul>
                </details>
            </li>
        {% else %}
            <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
    <div class="avatar navbar-end">
    <div class="w-12 rounded-full">
        <img src="{{ url_for('static', filename='img/favicon.png') }}" />
    </div>
    </div>
</div>
