<!-- 
  This is a macro for showcasing CivitAI Images which generates a card component
  with an image and statistics.
  The macro takes two parameters:
    - url: The URL of the image
    - stats: An object containing various statistics for the images.
-->
{% macro image_box(url, stats) -%}
  <div class="card shadow-xl h-auto w-auto m-2 px-4 py-4 pt-4 pb-2 rounded-lg overflow border-2 border-gray-100 hover:bg-gray-100">
    <!-- Image -->
    <object data="{{ url }}" type="image/jpeg" class="w-full h-96 object-cover rounded-lg">
      Image not available
    </object>

    <!-- Stats -->
    {% set stats_list = [
        {"icon": "icon_like", "count": format_number(stats.likeCount)},
        {"icon": "icon_heart", "count": format_number(stats.heartCount)},
        {"icon": "icon_dislike", "count": format_number(stats.dislikeCount)},
        {"icon": "icon_laugh", "count": format_number(stats.laughCount)},
        {"icon": "icon_cry", "count": format_number(stats.cryCount)},
        {"icon": "icon_chat", "count": format_number(stats.commentCount)}
    ] %}

    <div class="text-center mt-2 leading-none flex justify-center bottom-0 left-0 py-2">
      {% for stat in stats_list %}
        <span class="text-gray-400 mx-1 inline-flex items-center leading-none text-xs p-1 border-2 rounded-md w-[3rem]">
          {% include 'components/svg/' ~ stat.icon ~ '.html' %} {{ stat.count }}
        </span>
      {% endfor %}
    </div>

  </div>
{%- endmacro %}

<!--
  This macro represents a CivitAI Model box component used in the CivitExplorer
  project. It displays information about a model, including its name, creator,
  statistics, image, and type.
  The macro takes the following parameters:
    - name: The name of the model.
    - creator: An object containing information about the creator, including their image and username.
    - stats: An object containing statistics about the model, including rating, rating count, download count, favorite count, and comment count.
    - image: The URL of the image representing the model.
    - type: The type of the model.
-->
{% macro model_box(name, creator, stats, image, type) -%}

  <div class="card shadow-xl h-auto w-auto m-2 px-4 py-4 pt-4 pb-2 rounded-lg overflow border-2 border-gray-100 hover:bg-gray-100">

    <!-- Image Box with a Model Type Badge -->
    <div class="indicator w-full">
      <span class="indicator-item indicator-bottom indicator-center badge badge-primary">{{type}}</span> 
      <object data="{{ image }}" type="image/jpeg" class="w-full h-96 object-cover rounded-lg">
        Image not available
      </object>
    </div>

    <!-- Creator Information -->
    <div class="flex items-center mt-1">
      <img class="w-12 h-12 rounded-xl m-1" src="{{ creator.image }}">
      <div>
        <strong>{{ name }}</strong>
        <span class="text-sm text-gray-700">
          <div class="flex items-center">
            {{ creator.username }}
            <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
            <p class="ms-2 text-sm font-bold">{{stats.rating}}</p>
            <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full"></span>
            <a href="#" class="text-sm font-medium underline hover:no-underline">{{ format_number(stats.ratingCount) }}</a>
          </div>
        </span>
      </div>
    </div>
      
    <!-- Stats -->
    {% set stats_list = [
        {"icon": "icon_download", "count": format_number(stats.downloadCount)},
        {"icon": "icon_heart", "count": format_number(stats.favoriteCount)},
        {"icon": "icon_chat", "count": format_number(stats.commentCount)}
    ] %}

    <div class="text-center leading-none flex justify-center bottom-0 left-0 py-2">
      {% for stat in stats_list %}
        <span class="text-gray-400 m-1 inline-flex justify-center leading-none text-xs p-1 border-2 rounded-md w-[4rem]">
          {% include 'components/svg/' ~ stat.icon ~ '.html' %} {{ stat.count }}
        </span>
      {% endfor %}
    </div>

  </div>
{%- endmacro %}
